<head>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>
        {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{ end }}
    </title>

    <!-- Load stylesheet -->
    <link href="{{ .Site.BaseURL }}css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>
    {{ $style := resources.Get "css/ace.scss" | toCSS (dict "targetPath" "css/ace.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">

    {{ template "_internal/google_analytics_async.html" . }}

</head>
